* {
  height; 100%;
  padding: 0;
  margin: 0;
}

p {
  font-size: 12px;
}

.adj {
  float: left;
}

.tool-button {

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

#cvs {
  border: 1px solid #000000;
  margin: 0.8vh;
}

#tools {
  padding: 0 2vh;
}

#tools *:not(:first-child) {
  margin: 2vh 1vh;
}

#container {
  cursor: url(assets/ibrush0.png) 4 12, default;
}

